/* Iconos bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}


body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;

    background: url(img/r1m-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

body ::before{
    content: '';
    position: absolute;
    background-color: rgb(0, 0, 0, 0.03);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

body > *{
    position: relative;
    z-index: 2;
}

.musicPlayer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 10px, 30px;
    border-radius: 20px;
    background-color: rgba(228,228,228,0.1);;
}

:root{
    --white:rgba(228,228,228,1);
}

#spinner {
    background-image: url(img/bycicle.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
}