body {
    background-image: url(img/r1m-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#spinner {
    background-image: url(img/bycicle.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
}